@import url("https://fonts.googleapis.com/css2?family=Thasadith:wght@400;700&display=swap");

/* FONTS */
:root {
  --primary: #292627;
  --secondary: #554736;
  --banner: #363334;
  --clr-yel: #e4b83e;
  --text: #766c6f;
  --title: #cba366;
  --white: #fff;
  --radius: 1rem;
  --transition: all 0.3s linear;
  --shadow: 0 10px 15px rgb(110, 110, 110);
  --spacing: 0.2rem;
}

/* END OF FONTS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Thasadith", sans-serif;
  background: var(--primary);
}

h1,
h2,
h3 {
  font-weight: 700;
  margin-bottom: 1rem;
}

h1 {
  font-size: 4rem;
  color: var(--title);
  letter-spacing: var(--spacing);
}
h2 {
  font-size: 3rem;
  color: var(--text);
}
h3 {
  font-size: 2.5rem;
  color: var(--text);
}

a {
  text-decoration: none;
  color: var(--text);
}

li {
  list-style: none;
}

p {
  color: var(--text);
  font-size: 2rem;
  line-height: 1.5;
  text-align: center;
}

/* Global styles */
.btn {
  background: var(--title);
  color: #554736;
  padding: 1rem 3rem;
  transition: var(--transition);
  border-radius: var(--radius);
  border: transparent;
  font-size: 1.5rem;
  outline: none;
  text-transform: uppercase;
  /* margin-top: 2rem; */
}

.btn:hover {
  background: var(--clr-yel);
  color: var(--white);
  box-shadow: var(--shadow);
}

img {
  margin: 1.5rem 0;
  width: 100%;
}

ion-icon {
  font-size: 2.62rem;
}

.container {
  min-height: 100vh;
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}
/* end of Global styles */

/* header */
.header {
  min-height: 10vh;
  width: 100%;
}

.menu {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  min-height: 10vh;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--banner);
  z-index: 2;
}
.menu-list {
  display: none;
}

.toggle-btn {
  display: flex;
  font-size: 2.5rem;
  transition: var(--transition);
  font-weight: 600;
  letter-spacing: var(--spacing);
}

.toggle-btn:hover,
.toggle-btn ion-icon:hover {
  font-size: 2.8rem;
  color: #9b9999;
  transition: var(--transition);
}

.pho {
  color: var(--title);
}

@media (min-width: 768px) {
  .menu {
    padding: 1rem;
    display: inline-block;
    width: 100%;
    height: auto;
    min-height: 10vh;
  }

  .menu-list {
    display: flex;
    text-align: center;
  }

  .menu-list li {
    margin: 1rem;
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: 700;
  }
  .menu-list li a:hover {
    color: rgb(184, 184, 184);
    transition: var(--transition);
  }

  .toggle-btn {
    display: none;
  }
}

/* end of header */

/* hero */
.hero {
  min-height: 60vh;
  max-width: 760px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background: var(--primary);
}

.hero .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  transition: var(--transition);
}

.hero .container p {
  display: none;
  text-align: center;
  padding: 1rem 2rem;
  margin-bottom: 1rem;
}

.hero .container .btn {
  margin-top: 1rem;
}

@media (min-width: 768px) {
  .hero {
    min-height: 60vh;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    transition: var(--transition);
  }

  .hero .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hero .container p {
    display: block;
    text-align: center;
    padding: 1rem 2rem;
  }
}

/* end of hero */

/* features */
.features {
  min-height: 110vh;
}

.features h1 {
  margin-bottom: 3rem;
}

.feature-image {
  border: 3px solid black;
}

.feature-info {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feature-info p {
  margin-bottom: 1rem;
}

.feature-btn {
  margin-top: 3rem;
}

@media (min-width: 768px) {
  .feature-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .feature-image {
    height: 100%;
    width: 100%;
  }
  .feature-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0.5rem;
  }

  .feature-info p {
    margin-bottom: 1rem;
    max-width: 45rem;
  }

  .feature-img {
    max-width: 55rem;
    width: 100%;
    height: 100%;
    max-height: 40rem;
    object-fit: cover;
  }

  .feature-btn {
    margin-top: 3rem;
  }
}

/* end of features */

/* @media (min-width: 768px) {
} */
